<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>List Fabricator</title>
</head>
<body>
    
    <div class="container-md" id="api">
        <h1 class="fs-1">List Fabricator</h1>
        <div v-if="listComplete === false">
            <div class="d-flex flex-wrap">
                <div v-for="unit in imperialKnightsUnitsList">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <img class="card-img-top" v-bind:src="[[unit.image]]"/>
                            <h3 class="card-title">[[unit.name]]</h3>
                            <h6>Point Value: [[unit.point_value]]</h6>
                            <button v-on:click="addUnit(unit)">Add Unit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2>Army List</h2>
            </div>
            <div>
                [[pointTotal]]
            </div>
            <div v-for="(unit,index) in armyList">
                <h3>[[unit.name]]</h3>
                    <div class="d-flex align-items-start">
                        <h6>Points:</h6><p> [[unit.point_value]]<p>
                        <h6>M:</h6><p> [[unit.movement]]</p>
                        <h6>WS:</h6><p>+[[unit.weapon_skill]]</p>
                        <h6>BS:</h6><p>+[[unit.ballistic_skill]]</p>
                        <h6>S:</h6><p>[[unit.strength]]</p>
                        <h6>T:</h6><p>[[unit.toughness]]</p>
                        <h6>W:</h6><p>[[unit.wounds]]</p>
                        <h6>A:</h6><p>[[unit.attacks]]</p>
                        <h6>Ld:</h6><p>[[unit.leadership]]</p>
                        <h6>Sv:</h6><p>[[unit.armor_save]]</p>
                    </div>
                    <h5>Equiped Weapons</h5>
                    <div v-for="(weapon, wargearindex) in unit.wargear">
                        <div v-for="wargear in imperialKnightsWargearList">
                            <div v-if="weapon === wargear.name"> {% comment %} prints weapon if the string matches the name of a weapon in the wargear list {% endcomment %}
                                <p>[[weapon]]</p>
                                <div v-for="(weapon, weaponindex) in unit.optional_wargear">
                                    <div v-if="weapon === wargear.name">
                                        <button v-on:click="removeWeapon(unit, index, wargear, wargearindex)">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Additional Weapons</h5>
                    <div v-for="(weapon, weaponindex) in unit.optional_wargear">
                        <div v-for="wargear in imperialKnightsWargearList"> {% comment %} prints weapon if the string matches the name of a weapon in the wargear list {% endcomment %}
                            <div v-if="weapon === wargear.name">
                                <p>[[weapon]]<br>
                                    points: [[wargear.point_value]]</p>
                                <button v-on:click="addWeapon(unit, weapon, wargear, weaponindex)">+</button>
                            </div>
                        </div>
                    </div>
                <button v-on:click="removeUnit(index)">Remove Unit</button>
            </div>
            <button v-on:click="finishList">Complete List</button>
        </div>
        <div v-if="listComplete === true">
            <p>Point Total: [[finalPointTotal]]</p>
            [[completedArmyList]]
            <div v-for="unit in completedArmyList">
                <div>
                    <h4>[[unit.name]]</h4>
                    <h6>M:</h6><p> [[unit.movement]]</p>
                    <h6>WS:</h6><p>+[[unit.weapon_skill]]</p>
                    <h6>BS:</h6><p>+[[unit.ballistic_skill]]</p>
                    <h6>S:</h6><p>[[unit.strength]]</p>
                    <h6>T:</h6><p>[[unit.toughness]]</p>
                    <h6>W:</h6><p>[[unit.wounds]]</p>
                    <h6>A:</h6><p>[[unit.attacks]]</p>
                    <h6>Ld:</h6><p>[[unit.leadership]]</p>
                    <h6>Sv:</h6><p>[[unit.armor_save]]</p>
                </div>
                <div v-for="(weapon) in unit.wargear">
                    <div v-for="wargear in imperialKnightsWargearList">
                        <div v-if="weapon === wargear.name"> {% comment %} prints weapon if the string matches the name of a weapon in the wargear list {% endcomment %}
                            <h5>[[weapon]]</h5>
                            <p>Points: [[wargear.point_value]]</p>
                            <p>Range: [[wargear.range]]</p>
                            <p>Weapon Type: [[wargear.type]]</p>
                            <p>S: [[wargear.strength]]</p>
                            <p>AP: -[[wargear.armor_penetration]]</p>
                            <p>D: [[wargear.damage]]</p>
                            <p>Special Rules: [[wargear.abilities]]</p>
                        </div>
                    </div>
                </div>
            </div>
            <button v-on:click="editList">Edit List</button>
        </div>
    </div>
</body>
<script src="static/site.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>
